$primary: #2575ff;
$white: #ffffff;

$theme-colors: (
  'primary': $primary,
  'white': $white,
);

// SPACING
$spacer: 16px;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4,
  10: $spacer * 8,
  11: $spacer * 12,
);
$negative-spacers: negativify-map($spacers);
